WARMUP EXERCISE

QUES 1

In [35]:
def lesser_of_two_evens(a, b):
    
    if a%2==0 and b%2==0:
        
        return min(a, b)
    
    else:
        
        return max(a, b)

In [38]:
lesser_of_two_evens(7,6)

7

QUES 2

In [43]:
def animal_crackers(word):
    
    wordlist = word.lower().split()
        
    return wordlist[0][0] == wordlist[1][0]

In [44]:
animal_crackers('Crazy Kangaroo')

False

QUES 3

In [15]:
def makes_twenty(a, b):
    
    return a == 20 or b == 20 or a+b == 20

In [18]:
makes_twenty(2,3)

False

LEVEL 1 PROBLEMS

QUES 1

In [27]:
def master_yoda(text):
      
    return ' '.join(text.split()[::-1])
    
master_yoda('We are ready')

'ready are We'

QUES 2

In [48]:
def old_macdonald(name):
    
    first_half = name[:3]
    second_half = name[3:]
    
    return first_half.capitalize() + second_half.capitalize()

old_macdonald('macdonald')

'MacDonald'

QUES 3

In [51]:
def almost_there(n):
    
    # return 90 <= n <= 110 or 190 <= n <= 210
    return (abs(100-n)<=10) or (abs(200-n) <=10)
    
almost_there(201)

True

LEVEL 2 PROBLEMS

QUES 1

In [53]:
def has_33(nums):
    
    #for i, v in enumerate(nums):
     #   if i == len(nums)-1:
      #      return False
       # if v == 3 and nums[i+1] == 3:
        #    return True
    #return False

    for i in range(0, len(nums)-1):
        
        if nums[i:i+2] == [3,3]:
            return True
        
    return False

has_33([1, 2, 3, 3])

True

QUES 2

In [15]:
def paper_doll(text):
    
    newText = ''
    
    for letter in text:
        newText += 3*letter
    
    return newText

paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

QUES 3

In [25]:
def blackjack(a,b,c):
    
    sum = a + b + c
    
    if a == 11 or b == 11 or c == 11 and sum >21:
        sum -= 10
        
    if sum > 21:
        return 'BUST'
    else:
        return sum
    
blackjack(9,9,11)

19

QUES 4

In [54]:
def summer_69(nums):
    
    total = 0 
    add = True
    
    for num in nums:
        
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        
        while not add:
            if num != 9:
                break
            else:
                add = True
                
    return total
    
summer_69([2, 1, 6, 9, 11])

14

CHALLENGING PROBLEMS

QUES 1

In [68]:
def spy_game(nums):
    
    code = [0,0,7,'x']
    
    for num in nums:
        
        if num == code[0]:
            code.pop(0)
    
    return len(code)== 1

spy_game([1,2,4,0,0,5,7])

True

QUES 2

In [7]:
def count_primes(num):
    
    primes = [2]
        
    for num in range(3,num+1,2):
        
        for i in range(3,(num//2)+1,2):
            if num%i == 0:
                break
        else:        
            primes.append(num)
    
    print(primes)
    
    return len(primes)
        
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25